
<div class ="container-center" >
	<div class="center">
	<h1> this is homepage</h1>
	<a href="/user/new" class="waves-effect waves-light btn-large"> 
    <i class="material-icons right">SignUp</i></a>
  </button>
</div>

</div>